PySide6-Essentials
chardet
psutil; sys_platform == 'win32'
packaging
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
pygit2

# for building the package
setuptools>=77
setuptools_scm>=8
wheel

# for uploading the package
# twine

isort
