name: CI

on:
  push:
    branches: [ master ]
    tags:
      - '*'
  pull_request:
    branches: [ master ]

jobs:
 build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    env:
        SETUPTOOLS_SCM_PRETEND_VERSION: ${{ github.ref_type == 'tag' && github.ref_name || '' }}

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt twine build

      - name: Set SCM version
        run: |
          if [ "${{ github.ref_type }}" == "tag" ]; then
            echo "SETUPTOOLS_SCM_PRETEND_VERSION=${GITHUB_REF_NAME#v}" >> $GITHUB_ENV
          fi

      - name: Make Telemetry Env
        run: |
          echo -e "OTEL_ENDPOINT=\"${{ secrets.OTEL_ENDPOINT }}\"\nOTEL_AUTH=\"${{ secrets.OTEL_AUTH }}\"" > qgitc/otelenv.py

      - name: Package
        run: |
          python -m build -w -n

      - name: Upload
        if: ${{ github.ref_type == 'tag' }}
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: qgitc-artifact
          path: dist/qgitc*.whl
