name: tests

on: [push, pull_request]

jobs:
 build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Fix old setuptools
        if: matrix.python-version < '3.9'
        run: |
          sed -i 's/setuptools>=77/setuptools/' requirements.txt
          sed -i 's/license = "Apache-2.0"//' pyproject.toml
          sed -i 's/license-files = \[ "LICENSE" \]/license = { file="LICENSE" }/' pyproject.toml

      - name: Update pyside6 version for 3.8
        if: matrix.python-version == '3.8'
        run: |
          sed -i 's/PySide6-Essentials/PySide6-Essentials==6.4.3/' requirements.txt

      - name: Update pyside6 version for 3.9
        if: matrix.python-version == '3.9'
        run: |
          sed -i 's/PySide6-Essentials/PySide6-Essentials==6.7.3/' requirements.txt

      - name: Update pyside6 version for 3.10
        if: matrix.python-version == '3.10'
        run: |
          sed -i 's/PySide6-Essentials/PySide6-Essentials==6.9.3/' requirements.txt

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt coverage openpyxl
          sudo apt update
          sudo apt install -y libegl1

      - name: Build
        run: |
          python setup.py build

      - name: Run Tests
        env:
          QT_QPA_PLATFORM: offscreen
        run: |
          python -m coverage run -m unittest discover -s tests -p "test_*.py" -v

      - name: Generate Coverage Report
        run: |
          python -m coverage json --include="qgitc/*,tests/*"

      - name: Update Coverage Badge
        if: matrix.python-version == '3.11'
        uses: we-cli/coverage-badge-action@main
